{% extends 'includes/layout.html' %}

{% block body %}
{% load static %}

<h1 class="mt-4 mb-3">Stockroom <small>Management</small></h1>

<ol class="breadcrumb light-color">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item active">persons</li>
</ol>

<div class="row">

  <!-- Left Column -->
  <div class="col-md-8">

    <!-- Blog Post -->
    <div class="card mb-4">
      <h2 class="card-title">Persons</h2>

      <div class="card-body">
        <table class="table table-striped">
          <thead>

            <tr>
              <th scope="col">#</th>
              <th scope="col">name</th>
              <th scope="col">phone</th>
              <th scope="col">address</th>
            </tr>
          </thead>
          {% for person in persons %}
          <tr onclick="window.location='/person/{{person.id}}';">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ person.name }}</td>
            <td>{{ person.phone }}</td>
            <td>
              {{person.address}}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="card-footer text-muted light-color">
        {% if request.user.is_authenticated %}
        <a href="/person" style="color: green;">New</a>
        {% endif %}
      </div>
    </div>

  </div>

  <!-- Right Widgets Column -->
  <div class="col-md-4">

    <!-- right menu -->
    {% include 'includes/right_menu.html' %}
  </div>

</div>
<!-- /.row -->
{% endblock %}