{% extends 'includes/layout.html' %}

{% block body %}
{% load static %}
<h1 class="mt-4 mb-3">Stockroom <small>Management</small></h1>

<ol class="breadcrumb light-color">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item active">products</li>
</ol>

<div class="row">

  <!-- Left Column -->
  <div class="col-md-8">

    <!-- Blog Post -->
    <div class="card mb-4">
      <h2 class="card-title">Products</h2>

      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">name</th>
              <th scope="col">info</th>
              <!-- <th scope="col">count</th> -->
            </tr>
          </thead>
          {% for product in products %}
          <tr onclick="window.location='/product/{{product.id}}';">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.product_info }}</td>
            <!-- <td>{{ product.count }}</td> -->
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="card-footer text-muted light-color">
        {% if request.user.is_authenticated %}
        <a href="/product" style="color: green;">New</a>
        {% endif %}
      </div>
    </div>

  </div>

  <!-- Right Widgets Column -->
  <div class="col-md-4">

    <!-- right menu -->
    {% include 'includes/right_menu.html' %}
  </div>
</div>
{% endblock %}