{% extends 'stockroom/layout.html' %}

{% block body %}
{% load static %}


<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Stockroom <small>Management</small></h1>

    <ol class="breadcrumb light-color">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/products">products</a>
        </li>
    </ol>

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <h2 class="card-title">Product Info</h2>

                <div class="card-body">
                    <form method="post">
                        <fieldset {% if not request.user.is_authenticated %} disabled="disabled" {% endif %}>
                            {% csrf_token %}
                            <input type="hidden" name="request" value="product">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="name"
                                    value="{{ product.name }}">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">product info</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    name="product_info" value="{{ product.product_info }}">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Count</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" name="count"
                                    value="{{ count }}" disabled="disabled">
                            </div>
                            <!-- <div class="form-group">
                                <label for="exampleFormControlSelect1">Person</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="person">
                                    {% for person in persons %}
                                    <option value="{{ person.id }}" {% if person.id == product.person.id %}
                                        selected="selected" {% endif %}>{{ person.name }}</option>
                                    {% endfor %}
                                </select>
                            </div> -->

                            <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
                        </fieldset>
                    </form>
                </div>
                <div class="card-footer text-muted light-color">
                    {% if product.id and request.user.is_authenticated %}
                    <a href="/product/{{ product.id }}?deleteProduct" style="color: red;">Delete</a>
                    {% endif %}
                </div>
            </div>





            <!-- Blog Post -->
            <div class="card mb-4">
                <h2 class="card-title">Transactions</h2>

                <div class="card-body">
                    <table class="table table-striped">
                        <thead>

                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">person name</th>
                                <th scope="col">count</th>
                                <th scope="col">price</th>
                                <th scope="col">date</th>
                                <th scope="col">delete</th>
                            </tr>
                        </thead>
                        {% for transaction in transactions %}
                        <!-- <tr onclick="window.location='/person/{{person.id}}';"> -->
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ transaction.person.name }}</td>
                            <td>{{ transaction.count }}</td>
                            <td>{{ transaction.price }}</td>
                            <td>{{ transaction.date }}</td>
                            <td><a href="/product/{{ product.id }}?deleteTransaction&transid={{ transaction.id }}" style="color: red;">x</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="card-footer text-muted light-color">

                    <form method="post">
                        <fieldset {% if not request.user.is_authenticated %} disabled="disabled" {% endif %}>
                            {% csrf_token %}
                            <input type="hidden" name="request" value="transaction">
                            <input type="hidden" name="product" value="{{ product.id }}">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Person</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="person">
                                    {% for person in persons %}
                                    <option value="{{ person.id }}" {% if person.id == product.person.id %}
                                        selected="selected" {% endif %}>{{ person.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="DateInputForm">Date</label>
                                <input type="date" class="form-control" id="DateInputForm" name="date">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Count</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" name="count">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Price</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" name="price">
                            </div>

                            <button class="btn btn-info btn-block my-4" type="submit">Add New Transaction</button>
                        </fieldset>
                    </form>


                </div>
            </div>







        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            {% include 'stockroom/right_menu.html' %}
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<script>
    document.getElementById('DateInputForm').valueAsDate = new Date();
</script>
{% endblock %}